.Header {
  background: #fff;
  padding: 0;
  height: auto;
  position: sticky;
  width: 100%;
  z-index: 99;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0rem 0rem 0.8rem 0px rgba(0, 0, 0, 0.2);
  /* border: 1px solid black; */
}

/* .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  background-color: #bfbfbf52;
}
 .ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #bfbfbf52;
}  */
